/* Header's layout */
header {
     height: 60px;
     width: 100%;
     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
     margin-top: 8px;
     @include flex-center;
     position: relative;
     align-items: center;
     .back {
          font-size: map-get($font-size, back-arrow);
          position: absolute;
          left: 25px;
          top: 15px;
     }
     h1 {
          font-size: map-get($font-size, header-title);
          font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
     }
}

/* Localization */
.localization {
     background: darken($color-background, 4%);
     padding: 1px;
     margin: 0 auto;
     p {
          color: $color-subtitle;
          font-size: map-get($font-size, subtitles);
          font-weight: 500;
          @include flex-center;
          i {
               position: relative;
               right: 24px;
          }
     }
}

/* Reservation */
.reservation {
     background: $color-background;
     @include index-padding;
     display: flex;
     flex-direction: column;
     text-align: center;
     h2 {
          font-size: map-get($font-size, reservation);
     }
     > p {
          color: $color-subtitle;
          font-size: map-get($font-size, reservation-subtitle);
          font-weight: 300;
          margin: 0 20px -20px 20px;
     }
}

/* Fonctionning */
.fonctionning {
     display: flex;
     flex-direction: column;
     @include index-padding;
     h2 {
          @include index-title;
     }

     @media all and (min-width: 800px) {
          width: 90%;
          margin: 0 auto;
     }
}

/* Restaurant cards */
.list-restaurant {
     width: 100%;
     margin: 0 auto;
     @include index-padding;
     background: $color-background;
          h2{
               @include index-title;
               padding-top: 10px;
          }
          &__cards {
          display: flex;
          flex-direction: column;
     }

     @media all and (min-width: 800px) {
          width: 90%;
          margin-bottom: 50px;
          padding-bottom: 20px;
          border-radius: 40px;
          &__cards {
               display: flex;
               flex-direction: row;
               justify-content: center;
          }
     }
}

.card-restaurant {
     height: 250px;
     background-color: $color-white;
     margin: 10px 20px;
     border-radius: 15px;
     @include shadow;
     position: relative;
     &__img {
          width: 100%;
          height: 180px;
          img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               border-radius: 15px 15px 0 0;
          }
          p {
               color: darken($color-tertiary, 35);
               font-size: map-get($font-size, card-panel);
               font-weight: bold;
               padding: 6px 12px 4px 12px;
               background: $color-tertiary;
               border-radius: 2px;
               position: absolute;
               right: 10px;
          }
     }
     &__text {
          font-size: map-get($font-size, card-title);
          margin-left: 10px;
          line-height: 0px;
          p {
               font-size: map-get($font-size, card-subtitle);
               color: $color-subtitle;
          }
     }
     &__heart {
          @include card-heart;
     }

     @media all and (min-width: 800px) {
          height: 300px;
          width: 40%;
          margin: 30px;
          &__img {
               height: 230px;
          }
     }
}


/* Menu's layout */
.menu {
     display: flex;
     flex-direction: column;
     img {
          object-fit: cover;
          height: 280px;

          @media all and (min-width: 800px) {
          width: 140%;
          height: 320px;
          margin-left: -20%;
          }
     }
     &__list {
          background-color: $color-background;
          border-radius: 40px 40px 0 0;
          margin-top: -50px;
          padding-bottom: 100px;
          justify-content: center;

          @media all and (min-width: 800px) {
               border-radius: 40px;
               margin-bottom: 50px;
               padding-bottom: 50px;
               }

          &__header {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               margin-bottom: -40px;
               h4  {
                    width: 100%;
                    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
                    font-size: map-get($font-size, menu-title);
                    margin-left: 5%;
               }
               &--heart {
                    @include menu-heart;
               }
          }

          @media all and (min-width: 800px) {
               padding: 0 100px 40px 100px;
          }
     }

     @media all and (min-width: 800px) {
          margin: 0 100px;
          }
}

/* Category title */
.dish h5 {
     @include category-title;
     
     @media all and (min-width: 800px) {
          margin: 20px auto;
     }
}


/* Footer's layout */
footer {
     color: $color-white;
     background-color: $color-footer;
     padding: 2px 0 5px 20px;
     h3 a {
          font-size: map-get($font-size, footer-title);
          color: $color-white;
          font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
     }
     ul {
          font-size: map-get($font-size, footer-list);
          font-weight: 500;
          list-style-type: none;
          padding: 0px;
          li a {
               color: $color-white;
               line-height: 24px;
          }
          li .fa-utensils {
               font-size: map-get($font-size, icon-utensils);
               margin-right: 5px;
          }
          li .fa-handshake-angle {
               font-size: map-get($font-size, icon-hands);
               margin-right: 5px;
          }
     }
}