/* Index loader */
.loader {
     position: fixed;
     width: 100%;
     height: 100%;
     z-index: 2;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: -20px;
     background: $color-white;
     opacity: 0.8;
     animation: loading-fade-out 2000ms forwards;
     &__dot {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin: 0 12px;
     animation: loading infinite 500ms alternate;
     }
     .dot1 {
          background: $color-primary;
     }
     .dot2 {
          background: $color-secondary;
          animation-delay: 100ms;

     }
     .dot3 {
          background: $color-tertiary;
          animation-delay: 200ms;
     }
}

/* Main button */
.menu__list__btn {
     color: $color-white;
     cursor: pointer;
     width: 12em;
     height: 50px;
     border-radius: 25px;
     display: flex;
     justify-content: center;
     align-content: center;
     margin: 0px auto;
     @include shadow;
     @include main-btn-color;
     z-index: 1; /* Used for hover animation */
     position: relative;
     p {
          font-size: 0.9em;
          font-weight: 500;
          line-height: 15px;
     }
     &:hover {
          box-shadow: 0px 8px 10px $color-shadow;
          transition: box-shadow 400ms;
          &::after {
               opacity: 0.4;
          }
     }
     &::after { /* Pseudo-class for hover animation */
          content: "";
          @include pseudo-btn;
          border-radius: 25px;
          background: lighten($color-secondary, 5);
          transition: opacity 400ms;
     }
     
     @media all and (min-width: 800px) {
          width: 14em;
          p {
               font-size: 1em;
               font-weight: bold;
               line-height: 15px;
          }
     }
}

/* Fonctionning button */
.fonctionning__btn {
     width: 85%;
     height: 70px;
     display: flex;
     justify-content: space-around;
     align-self: center;
     @include shadow;
     border-radius: 20px;
     margin: 15px 0;
     position: relative;

     &__number {
          width: 25px;
          height: 25px;
          background: $color-primary;
          border-radius: 20px;
          position: absolute;
          top: 20px;
          left: -12px;
          p {
          font-size: 0.8em;
          font-weight: bold;
          color: $color-white;
          position: absolute;
          top: -9px;
          left: 8px;
          }
     }
     i {
          color: $color-icons;
          position: absolute;
          top: 25px;
          left: 8%;
     }
     > p {
          font-size: 0.92em;
          font-weight: 500;
          align-self: center;
     }
     &:hover {
          &::after {
               opacity: 0.2;
          }
          i {
               color: $color-primary;
               transition: color 350ms;
          }
     }
     &::after { /* Pseudo-class for hover animation */
          content: "";
          @include pseudo-btn;
          border-radius: 20px;
          background: lighten($color-primary, 20);
          transition: opacity 250ms;
     }

     @media all and (min-width: 800px) {
          height: 80px;
          width: 60%;
          &__number {
               top: 28px;
          }
          i {
               top: 28px;
               left: 10%;
          }
     }
}

/* Dish list button */

.dish__btn {
     width: 90%;
     height: 70px;
     cursor: pointer;
     background: $color-white;
     border-radius: 15px;
     @include shadow;
     display: flex;
     justify-content: space-between;
     margin: 25px auto;
     position: relative;
     &__content {
                    h6 {
                    font-size: 0.9em;
                    margin: 15px 10px -10px 10px;
                    white-space: nowrap;
                    overflow: clip;
                    text-overflow: ellipsis;
                    }
                    p {
                    color: $color-subtitle;
                    font-size: 0.8em;
                    margin-left: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    }
     }
     &__price {
          font-size: 0.8em;
          font-weight: bold;
          margin-bottom: 12px;
          margin-right: 20px;
          align-self: flex-end;
     }
     &__check {
          display: none;
          color: $color-white;
          font-size: 1.8em;
          height: 40px;
          padding: 15px;
          border-radius: 0 15px 15px 0;
          background: $color-tertiary;
          position: absolute;
          right: -1px;
          animation: slide-left 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both;
          i {
               animation: check-rotate 700ms ease both;
          }
     }
     &:hover {
          .dish__btn__price {
               animation: price-slide 500ms both;
          }
          .dish__btn__check {
               display: initial;
          }
     }

     @media all and (min-width: 800px) {
          margin: 30px auto;

          .dish__btn__check {
               position: absolute;
               right: -1px;
          }
     }
}
/*
Dish list button slide-in animation 

.btn_1 {
     animation: slide-in 1200ms both;
}
.btn_2 {
     animation: slide-in 1200ms both 150ms;
}
.btn_3 {
     animation: slide-in 1200ms both 300ms;
}*/