/* Index loader */
.loader {
     position: fixed; /* Semi-opaque background */
     width: 100%;
     height: 105%;
     z-index: 2;
     @include flex-center;
     align-items: center;
     margin-top: -20px;
     background: $color-white;
     opacity: 0.8;
     animation: loading-fade-out 2000ms forwards;
     &__dot { /* three dots' animation */
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin: 0 12px;
     animation: loading infinite 500ms alternate;
     }
     .dot1 {
          background: $color-primary;
     }
     .dot2 {
          background: $color-secondary;
          animation-delay: 100ms;

     }
     .dot3 {
          background: $color-tertiary;
          animation-delay: 200ms;
     }
}

/* Main button */
.main-btn {
     @include main-btn;
}

/* Fonctionning button */
.fonctionning__btn {
     @include fonctionning-btn;
}

.card-restaurant {
     width: 90%;
     height: 250px;
     background-color: $color-white;
     margin: 10px auto;
     border-radius: 15px;
     @include shadow;
     position: relative;
     a {  /* Card-fitting link area */
          display: block;
          height: 100%;
     }
     &__img {
          img {
               width: 100%;
               height: 180px;
               object-fit: cover;
               border-radius: 15px 15px 0 0;
          }
          p {
               @include card-panel;
          }
     }
     &__text {
          padding-left: 15px;
          h4 {
               font-size: map-get($font-size, card-title);
               line-height: 0px;
          }
          p {
               font-size: map-get($font-size, card-subtitle);
               color: $color-subtitle;
               line-height: 0px;
          }
     }
     &__heart {
          @include card-heart;
     }

     @media all and (min-width: 800px) {
          height: 300px;
          width: 40%;
          margin: 30px;
          &__img {
               img {
                    height: 225px;
               }
          }
     }
}

/* Dish list button */

.dish__btn {
     width: 90%;
     height: 70px;
     cursor: pointer;
     background: $color-white;
     border-radius: 15px;
     @include shadow;
     display: flex;
     justify-content: space-between;
     margin: 15px auto;
     position: relative;
     &__content {
          width: 85%;
                    h6 {
                    font-size: map-get($font-size, dish-title);
                    margin: 15px 10px -10px 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    }
                    p {
                    color: $color-subtitle;
                    font-size: map-get($font-size, subtitles);
                    margin-left: 10px;
                    line-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    }
     }
     &__price {
          width: 5%;
          font-size: map-get($font-size, subtitles);
          font-weight: bold;
          margin-bottom: 12px;
          margin-right: 20px;
          align-self: flex-end;
          line-height: 20px;
     }
     &__check {
          display: none;
          color: $color-white;
          height: 40px;
          position: absolute;
          right: -1px;
          padding: 15px;
          border-radius: 0 15px 15px 0;
          background: $color-tertiary;
          animation: slide-left 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both;
          i {
               font-size: 20px;
               margin: 8px auto;
               animation: check-rotate 700ms ease both;
          }
     }
     &:hover {
          .dish__btn__price {
               animation: price-slide 500ms both;
          }
          .dish__btn__check {
               display: initial;
          }
     }

     @media all and (min-width: 800px) {
          margin: 30px auto;

          .dish__btn__check {
               position: absolute;
               right: -1px;
          }
     }
}

/* Dish list button slide-in animation */

.btn_1 {
     animation: slide-in 1200ms both;
}
.btn_2 {
     animation: slide-in 1200ms both 150ms;
}
.btn_3 {
     animation: slide-in 1200ms both 300ms;
}
.btn_4 {
     animation: slide-in 1200ms both 450ms;
}