/* Loading animation */
@keyframes loading {
     50% {
          transform: translateY(-30px);
     }
     100% {
          transform: translateY(-30px);
     }
}

@keyframes loading-fade-out {
     0% {
          visibility: visible;
          opacity: 0.8;
     }
     50% {
          visibility: visible;
          opacity: 0.8;
     }
     100% {
          visibility: hidden;
          opacity: 0;
     }
}

/* Menu slide-in animation */
@keyframes slide-in {
     0% {
          transform: translateY(70%);
          opacity: 0;
     }
     100% {
          transform: translateY(0);
          opacity: 1;
     }
}

/* Check animations */
@keyframes slide-left { /* Checkbox slider */
     0% {
          margin-right: -25%;
     }
     100% {
          margin-right: 0%;
     }
}

@keyframes check-rotate { /* Icon rotation */
     0% {
          transform: rotate(0);
     }
     100% {
          transform: rotate(360deg);
     }
}