/* Main box shadow */
@mixin shadow {
     box-shadow: 0px 5px 10px $color-shadow;
}

/* Box alignement */
@mixin alignement-center {
     display: flex;
     justify-content: center;
}

/* Index title */
@mixin index-title {
     font-size: 1.2em;
     margin-left: 20px;
}

/* Index section padding */
@mixin index-padding {
     padding-top: 20px;
     padding-bottom: 50px;
}

/* Menu category title */
@mixin category-title {
     width: 90%;
     position: relative;
     font-weight: 300;
     text-transform: uppercase;
     margin: 20px auto;
     &::after { /* Category title underline */
     content: '';
          width: 40px;
          height: 3px;
          background: $color-tertiary;
          position: absolute;
          left: 0px;
          bottom: -6px;
     }
}