/* Main box shadow */
@mixin shadow {
     box-shadow: 5px 5px 12px $color-shadow;
}

/* Box alignement */
@mixin flex-center {
     display: flex;
     justify-content: center;
}

/* Index title */
@mixin index-title {
     font-size: 22px;
     margin-left: 20px;
}

/* Index section padding */
@mixin index-padding {
     padding-top: 20px;
     padding-bottom: 50px;
}

/* Main button */
@mixin main-btn {
     color: $color-white;
     cursor: pointer;
     width: 210px;
     height: 45px;
     border-radius: 25px;
     @include flex-center;
     align-items: center;
     margin: 50px auto 0 auto;
     @include shadow;
     background: linear-gradient(175deg, $color-secondary, $color-primary);
     z-index: 1; /* Used for hover animation */
     position: relative;
     p {
          font-size: 16px;
          font-weight: 500;
     }
     &:hover {
          box-shadow: 0px 10px 15px darken($color-shadow, 10);
          transition: box-shadow 400ms;
          &::after {
               opacity: 0.4;
          }
     }
     &::after { /* Pseudo-class for hover animation */
          content: "";
          @include pseudo-btn;
          border-radius: 25px;
          background: lighten($color-secondary, 5);
          transition: opacity 400ms;
     }
     
     @media all and (min-width: 800px) {
          width: 250px;
          p {
               font-size: 17px;
          }
     }
}

/* Pseudo-class for button animation */
@mixin pseudo-btn {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     opacity: 0;
     z-index: -1;
}

/* Fonctionning button */
@mixin fonctionning-btn {
     width: 85%;
     height: 70px;
     display: flex;
     justify-content: space-around;
     align-self: center;
     @include shadow;
     border-radius: 20px;
     margin: 10px auto;
     position: relative;
     &__number {
          @include circle-panel;
     }
     i {
          color: $color-icons;
          position: absolute;
          top: 23.5px;
          left: 8%;
     }
     > p {
          font-size: map-get($font-size, subtitles);
          font-weight: 500;
          align-self: center;
     }
     &::before { /* Pseudo-class for pre-hover background color */
          content: "";
          @include pseudo-btn;
          border-radius: 20px;
          background: $color-background;
          opacity: 1;
          transition: opacity 200ms;
     }
     &::after { /* Pseudo-class for hover animation */
          content: "";
          @include pseudo-btn;
          border-radius: 20px;
          background: lighten($color-primary, 20);
          transition: opacity 250ms;
     }
     &:hover { /* Hover animation's button color transition */
          &::before {
               opacity: 0;
          }
          &::after {
               opacity: 0.2;
          }
          i {
               color: $color-primary;
               transition: color 350ms;
          }
     }

     @media all and (min-width: 800px) {
          height: 80px;
          width: 60%;
          &__number {
               top: 28px;
          }
          i {
               top: 32px;
               left: 10%;
          }
     }
}

/* Numbered circular panels */
@mixin circle-panel {
     width: 25px;
     height: 25px;
     background: $color-primary;
     border-radius: 20px;
     position: absolute;
     top: 20px;
     left: -12px;
     p {
          font-size: 14px;
          font-weight: bold;
          color: $color-white;
          position: absolute;
          top: -8px;
          left: 8.5px;
     }
}

/* "Nouveau" card panel */
@mixin card-panel {
          color: darken($color-tertiary, 35);
          font-size: map-get($font-size, card-panel);
          font-weight: bold;
          padding: 6px 12px 4px 12px;
          background: $color-tertiary;
          border-radius: 2px;
          position: absolute;
          right: 10px;
}

/* Menu category title */
@mixin category-title {
     font-size: 14px;
     font-weight: 300;
     width: 90%;
     position: relative;
     text-transform: uppercase;
     margin: 40px auto 20px auto;
     &::after { /* Category title underline */
     content: '';
          width: 38px;
          height: 3px;
          background: $color-tertiary;
          position: absolute;
          left: 0px;
          bottom: -6px;
     }
}

/* Heart icon on card */
@mixin card-heart {
     font-size: 25px;
     width: 20px;
     height: 20px;
     position: absolute;
     bottom: 30px; 
     right: 25px;
     input {
          cursor: pointer;
          width: 35px;
          height: 120%;
          position: absolute;
          top: 2px;
          right: -10px;
          z-index: 1;
          opacity: 0;
          &:checked {
               + .heart__static {
                    opacity: 0;
                    transition: opacity 350ms;
               }
               ~ .heart__animated {
                    opacity: 1;
                    transition: opacity 350ms;
               }
          }
     }
     .heart__static {
          opacity: 1;
     }
     .heart__animated {  /* Colored heart icon underneath */
          color: transparent; /* Necessity for a gradient heart */
          width: 28px;
          opacity: 0;
          position: absolute;
          bottom: -5.8px;
          right: -8.2px;               
          background: linear-gradient(40deg, $color-secondary, $color-primary);
          background: -webkit-linear-gradient(40deg, $color-secondary, $color-primary);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
     }  
     &:hover  {
          .heart__static {
               opacity: 0;
               transition: opacity 350ms;
          }
          .heart__animated {
               opacity: 1;
               transition: opacity 350ms;
          }
     }
}

/* Heart icon on menu */
@mixin menu-heart {
     width: 20px;
     height: 20px;
     font-size: 25px;
     position: relative;
     top: 34px;
     right: 35px;
     input {
          cursor: pointer;
          width: 30px;
          height: 120%;
          position: absolute;
          top: 2px;
          right: -7px;
          z-index: 1;
          opacity: 0;
          &:checked {
               + .heart__static {
                    opacity: 0;
                    transition: opacity 350ms;
               }
               ~ .heart__animated {
                    opacity: 1;
                    transition: opacity 350ms;
               }
          }
     }
     .heart__static {
          opacity: 1;
     }
     .heart__animated {  /* Colored heart icon underneath */
          color: transparent; /* Necessity for a gradient heart */
          width: 28px;
          opacity: 0;
          position: absolute;
          top: 1px;
          right: -8.4px;
          background: linear-gradient(40deg, $color-secondary, $color-primary); /* Heart coloration */
          background: -webkit-linear-gradient(40deg, $color-secondary, $color-primary);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
     }
     &:hover  {
          .heart__static {
               opacity: 0;
               transition: opacity 350ms;
          }
          .heart__animated {
               opacity: 1;
               transition: opacity 350ms;
          }
     }
}